.About {
	padding-top: 40px;
	line-height: 2;
	background: url('../../images/about-bg.jpg');
	background-position: center center;
	height: calc(100vh - 92px);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.about-text {
	font-family: 'Fredericka the Great';
	font-size: 26px;
	text-align: center;
	margin-top: 0px;
	width: 70%;
	max-width: 700px;
	margin: 0 auto;
	color: white;
}

@media screen and (max-width: 768px) {
	.about-text {
		font-size: 22px;
		width: 80%;
		max-width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 425px) {
	.about-text {
		font-size: 16px;
		width: 70%;
	}
}

@media screen and (min-width: 1700px) {
	.About {
		padding-top: 100px;
	}
	.about-text {
		line-height: 3;
	}
}
