.Drinks {
	display: grid;
	background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
		url('../../images/drinks-about.jpeg');
	background-position: center;
	min-height: calc(100vh - 92px);
	min-width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
.drinks-intro {
	text-align: center;
	color: white;
	padding-top: 20px;
	line-height: 1.25;
	font-family: 'Fredericka the Great';
	font-size: 0.95rem;
	max-width: 55%;
	margin: 0 auto;
	position: relative;
}

.drinks-intro p {
	font-size: clamp(1rem, 1rem + 1vmin, 1.4rem);
	margin: 0.5rem auto;
	position: relative;
}
.drinks-intro p::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 1rem;
	border-top: 1px solid #fff;
	width: 4rem;
	transform: translate(30%, -50%);
}
.drinks-intro p::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1rem;
	border-top: 1px solid #fff;
	width: 4rem;
	transform: translate(-30%, -50%);
}

.collection-container {
	max-width: 300px;
	margin: 0 auto;
}

.drinks-intro button {
	font-size: clamp(1rem, 1rem + 1vmin, 1.8rem);
	outline: 1px solid #fff;
	color: #fff;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: #242222;
	margin-top: -1rem;
	font-family: 'Fredericka the Great';
}
.drinks-intro button:hover {
	cursor: pointer;
	transform: scale(0.98);
}

#searchBar {
	margin: 0 auto;
	margin-top: 1rem;
	display: flex;
	justify-items: center;
	position: relative;
	max-width: clamp(200px, 200px + 10vmin, 400px);
	transform: scale(0.95);
}

#searchBar img {
	width: 2.5rem;
	height: 2.5rem;
	position: absolute;
	right: 1rem;
	top: 0.625rem;
}

.MuiFormControl-fullWidth {
	background-color: #fff;
	height: 100%;
	width: 100%;
	border-radius: 5px;
	padding: 0.25rem !important;
}

.MuiFormLabel-root.Mui-focused {
	color: rgba(25, 10, 228, 0.75) !important;
	transform: translate(1.15rem) scale(0.75) !important;
	z-index: 2;
}

.bottles {
	display: flex;
	justify-content: space-around;
	width: 99vw;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 1.5rem;
	position: relative;
	height: 500px;
}

.bottle-div {
	transform-origin: bottom;
	cursor: pointer;
	text-align: center;
}

.drink-type {
	font-family: 'Fredericka the Great';
	color: white;
	width: 100px;
	margin: 0 auto;
	opacity: 0;
}

.bottle-div:hover .drink-type {
	opacity: 1;
	transform: translateY(-35px);
	transition: opacity 0.5s, transform 0.2s ease-out;
}

.Bottle {
	height: 350px;
	width: auto;
	filter: drop-shadow(15px 15px 14px #242222);
}

.bottle-div {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bottle-div:nth-child(1) {
	transform: translateX(290px) translateY(65px) rotate(-24deg);
}

.bottle-div:nth-child(2) {
	transform: translateX(200px) translateY(40px) rotate(-17.5deg);
}

.bottle-div:nth-child(3) {
	transform: translateX(60px) translateY(30px) rotate(-5deg);
}

.bottle-div:nth-child(4) {
	transform: translateX(-60px) translateY(30px) rotate(5deg);
}

.bottle-div:nth-child(5) {
	transform: translateX(-210px) translateY(40px) rotate(17.5deg);
}

.bottle-div:nth-child(6) {
	transform: translateX(-340px) translateY(70px) rotate(24.5deg);
}

.Bottle:hover {
	transform: scale(1.1);
	filter: drop-shadow(30px 30px 10px #242222);
	transition: all 0.35s ease-out;
}
.drink-list a {
	text-decoration: none;
}
.drink-list {
	margin: 90px auto 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-evenly;
	max-width: 1600px;
}

.drink-link {
	margin: 2rem 0.25rem;
	padding: 0;
	width: 200px;
}

.drink-thumbnail {
	width: 100%;
	margin: 0 auto;
	border-radius: 15% 0;
	border-style: groove;
	border: 1px solid #fff;
}

.drink-name {
	font-family: 'Fredericka the Great';
	font-size: 20px;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 50px;
	color: white;
	background: linear-gradient(to right, hsl(0, 0%, 0%), hsl(233, 82%, 20%));
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 1) 0 12px 30px;
	text-decoration: none;
	border: 1px solid #fff;
}

@media screen and (max-width: 769px) {
	.drinks-intro {
		height: 150px;
		padding-top: 50px;
		line-height: 1.5;
		font-size: 16px;
		max-width: 75%;
	}

	.bottles {
		padding-top: 65px;
		height: 450px;
		max-width: 1200px;
		margin: 0 auto;
		margin-top: 12rem;
		position: relative;
	}
	.Bottle {
		height: 230px;
	}

	.bottle-div:nth-child(1) {
		transform: translateX(150px) translateY(70px) rotate(-20.5deg);
	}
	.bottle-div:nth-child(2) {
		transform: translateX(110px) translateY(40px) rotate(-17.5deg);
	}
	.bottle-div:nth-child(3) {
		transform: translateX(40px) translateY(30px) rotate(-5deg);
	}
	.bottle-div:nth-child(4) {
		transform: translateX(-20px) translateY(30px) rotate(5deg);
	}
	.bottle-div:nth-child(5) {
		transform: translateX(-90px) translateY(40px) rotate(17.5deg);
	}
	.bottle-div:nth-child(6) {
		transform: translateX(-150px) translateY(70px) rotate(24.5deg);
	}
	.drink-type {
		transition: none;
		opacity: 1;
		transform: translateY(-20px);
	}
}
@media screen and (max-width: 520px) {
	.Drinks {
		background-image: url('https://www.desktopbackground.org/p/2010/06/13/32467_oppo-r7-wallpaper-jack-daniels-whiskey-mobile-android-wallpapers_1080x1920_h.jpg');
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		min-height: 100vh;
	}

	.bottles {
		height: 450px;
		width: 100vw;
		margin-top: 180px;
		padding-top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	.Bottle {
		display: none;
	}

	.bottles .bottle-div {
		height: 200px;
		all: unset;
		height: 16%;
		width: 80%;
		position: relative;
	}

	.bottle-div:hover {
		cursor: pointer;
	}

	.bottle-div:nth-child(1),
	.bottle-div:nth-child(2),
	.bottle-div:nth-child(3),
	.bottle-div:nth-child(4),
	.bottle-div:nth-child(5),
	.bottle-div:nth-child(6) {
		background-repeat: no-repeat;
		background-size: 105% 105%;
		background-position: center;
		transition: background-size 0.5s ease;
		filter: invert(0.875);
		border-radius: 1rem;
		outline: 1px solid #000;
	}

	.bottle-div:nth-child(1) {
		background-image: url('../../images/tequila-label.png');
	}
	.bottle-div:nth-child(2) {
		background-image: url('../../images/rum-label.png');
	}
	.bottle-div:nth-child(3) {
		background-image: url('../../images/vodka-label.png');
	}
	.bottle-div:nth-child(4) {
		background-image: url('../../images/gin-label.png');
	}
	.bottle-div:nth-child(5) {
		background-image: url('../../images/scotch-label.png');
	}
	.bottle-div:nth-child(6) {
		background-image: url('../../images/bourbon-label.png');
	}

	.bottle-div:nth-child(1):hover,
	.bottle-div:nth-child(2):hover,
	.bottle-div:nth-child(3):hover,
	.bottle-div:nth-child(4):hover,
	.bottle-div:nth-child(5):hover,
	.bottle-div:nth-child(6):hover {
		background-size: 125% 120%;
	}

	.drink-type {
		display: none;
	}
	.bottle-div:hover .drink-type {
		font-family: 'Fredericka the Great';
		color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.drinks-intro {
		padding-top: 15px;
		max-width: 90%;
		font-size: 13px;
	}

	.drink-link {
		margin: 2rem 0.25rem;
		padding: 0;
		width: 45vw;
	}

	.drink-name {
		font-size: 16px;
		width: 100%;
		height: 50px;
		padding: 5px;
	}
}

@media screen and (min-width: 1700px) {
	.drinks-intro h2 {
		max-width: 800px;
	}
}
