.Cocktail {
	display: grid;
	text-align: center;
	color: white;
	background-image: url('../../images/cocktail-bg.jpeg');
	background-position: center center;
	min-height: calc(100vh - 92px);
	min-width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.drink-card {
	width: 460px;
	margin: 0 auto;
	margin-top: 3%;
	border-radius: 255px 15px 225px 15px/20px 225px 35px 255px;
	border: solid 5px white;
	padding: 20px;
}

.handle-post__btn {
	font-family: 'Fredericka the Great';
	background-color: #242222;
	color: #fff;
	border: none;
	font-size: clamp(1rem, 1rem + 1vmin, 2rem);
	outline: 1px solid #fff;
	padding: 0.2rem 0.5rem;
	border-radius: 0.2rem;
	margin-top: 0.75rem;
}
.handle-post__btn:hover {
	transform: scale(0.98);
	cursor: pointer;
}

.drink-img {
	height: 25vh;
	margin: 0 auto;
	border-radius: 15%;
	border-style: groove;
}

.drinkName {
	font-family: 'Fredericka the Great';
	padding-top: 30px;
}
.ingr-list {
	font-family: 'Fredericka the Great';
	padding: 10px 0;
	font-size: 24px;
}

.ingredients {
	display: flex;
	justify-content: center;
	line-height: 1.5;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: 'Fredericka the Great';
}
.instructions {
	font-size: 22px;
	margin: 0 auto;
	margin-bottom: 15px;
	padding: 35px 0;
	font-family: 'Fredericka the Great';
	width: 45%;
}
@media screen and (max-width: 769px) {
	.instructions {
		width: 70%;
	}
}
@media screen and (max-width: 425px) {
	.Cocktail {
		padding-top: 30px;
	}
	.drinkName {
		font-size: 20px;
		padding: 20px 0 20px;
	}
	.drink-card {
		width: 250px;
	}
	.ingredients {
		line-height: 1.5;
		letter-spacing: 1px;
		font-size: 15px;
		font-family: 'Fredericka the Great';
	}
	.instructions {
		font-size: 18px;
		width: 60vh;
		margin: 0 auto;
		margin-bottom: 15px;
		padding: 35px 0;
		width: 65%;
	}
}
