.Home {
	display: grid;
	background: black;
	background-image: url('https://images.pond5.com/cocktail-lime-black-background-footage-023977545_prevstill.jpeg');
	background-position: -55% 95%;
	min-height: calc(100vh - 92px);
	min-width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 80% auto;
}
.home-intro {
	padding-top: 30px;
	font-family: 'Fredericka the Great';
	margin: 0 auto;
	text-align: center;
	margin-top: 0px;
	max-width: 600px;
	color: white;
	font-size: clamp(18px, 3vw, 26px);
	line-height: 1.75;
	mix-blend-mode: difference;
}

@media screen and (max-width: 768px) {
	.Home {
		background-position: -15vw 95%;
		background-size: 105%;
	}

	.home-intro {
		padding-top: 30px;
		width: 70%;
	}
}

@media screen and (max-width: 425px) {
	.home-intro {
		padding-top: 0px;
		margin-top: 10px;
		width: 90%;
	}
}
@media screen and (min-width: 1700px) {
	/* .home-intro {
		width: 40%;
		padding-top: 60px;
	} */
}
