.Header {
	background: rgb(9, 9, 9);
	display: flex;
	white-space: nowrap;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	width: 100%;
	position: relative;
	/* box-shadow: 5px 5px 5px -5px #fff; */
}

.Header > a {
	width: 0;
}

.cheers {
	filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(128deg)
		brightness(105%) contrast(105%);
	height: 60px;
	width: auto;
	padding-left: 10px;
}

.header-title {
	position: absolute;
	right: 50%;
	top: 50%;
	transform: translateX(50%) translateY(-50%);
	color: white;
	font-size: clamp(18px, 20px + 1.5vw, 42px);
	font-family: 'Fredericka the Great';
}

.fas {
	color: white;
}

@media screen and (max-width: 450px) {
	.cheers {
		height: 11vw;
	}
}
