.Drinks {
	display: grid;
	background-image: url('https://images.pexels.com/photos/274192/pexels-photo-274192.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
	background-position: center center;
	min-height: 115%;
	min-width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.drinks-intro {
	height: 150px;
	text-align: center;
	color: white;
	padding-top: 40px;
	line-height: 1.5;
	font-family: 'Fredericka the Great';
	font-size: 20px;
	max-width: 50%;
	margin: 0 auto;
}
.bottles {
	display: flex;
	height: 55vh;
	width: min-content;
	padding-top: 44px;
}

.bottle-div {
	transform-origin: bottom;
	cursor: pointer;
	display: block;
	width: 0;
}

.Bottle {
	height: 44vh;
	width: auto;
}
.drink-type {
	width: 100%;
}

.bottle-div:nth-child(1) {
	transform: translateX(30vw) translateY(13vh) rotate(-35deg);
}

.bottle-div:nth-child(2) {
	transform: translateX(37vw) translateY(5vh) rotate(-22.5deg);
}

.bottle-div:nth-child(3) {
	transform: translateX(41vw) translateY(2vh) rotate(-5deg);
}
.bottle-div:nth-child(4) {
	transform: translateX(47vw) translateY(1.5vh) rotate(5deg);
}
.bottle-div:nth-child(5) {
	transform: translateX(55vw) translateY(1.5vh) rotate(22.5deg);
}

.bottle-div:nth-child(6) {
	transform: translateX(59vw) translateY(2vh) rotate(35deg);
}

.Bottle:hover {
	transform: scale(1.1);
	transition: transform 0.2s ease-out;
}
.drink-list a {
	text-decoration: none;
}
.drink-list {
	margin: 90px auto 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-evenly;
}

.cocktail-list-name {
	font-family: 'Fredericka the Great';
	font-size: 16px;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 200px;
	height: 50px;
	margin: 10px;
	color: white;
	background: linear-gradient(to right, #060505, #4776e6);
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 1) 0 12px 30px;
	text-decoration: none;
}
@media screen and (max-width: 768px) {
	.drinks-intro {
		height: 150px;

		padding-top: 50px;
		line-height: 1.5;
		font-size: 16px;
		max-width: 50%;
	}

	.bottles {
		padding-top: 45px;
	}
	.Bottle {
		height: 40vh;
	}

	.bottle-div:nth-child(1) {
		transform: translateX(27vw) translateY(13vh) rotate(-35deg);
	}

	.bottle-div:nth-child(2) {
		transform: translateX(35.5vw) translateY(4vh) rotate(-22.5deg);
	}

	.bottle-div:nth-child(3) {
		transform: translateX(40vw) translateY(0vh) rotate(-5deg);
	}
	.bottle-div:nth-child(4) {
		transform: translateX(47vw) translateY(0vh) rotate(5deg);
	}
	.bottle-div:nth-child(5) {
		transform: translateX(57vw) translateY(0.5vh) rotate(22.5deg);
	}

	.bottle-div:nth-child(6) {
		transform: translateX(62vw) translateY(2vh) rotate(35deg);
	}
}
@media screen and (max-width: 436px) {
	.Bottle {
		height: 30vh;
	}
	.bottle-div:nth-child(1) {
		transform: translateX(14vw) translateY(35vh);
	}

	.bottle-div:nth-child(2) {
		transform: translateX(43vw) translateY(35vh);
	}

	.bottle-div:nth-child(3) {
		transform: translateX(67vw) translateY(35vh);
	}
	.bottle-div:nth-child(4) {
		transform: translateX(41vw) translateY(-5vh);
	}
	.bottle-div:nth-child(5) {
		transform: translateX(31vw) translateY(15vh);
	}

	.bottle-div:nth-child(6) {
		transform: translateX(53vw) translateY(15vh);
	}

	.drinks-intro {
		padding-top: 25px;
		max-width: 75%;
		font-size: 16px;
	}
}

@media screen and (max-width: 426px) {
	.cocktail-list-name {
		font-size: 16px;
		width: 150px;
		height: 50px;
		padding: 5px;
		margin: 10px;
	}
}
