.Drinks {
	display: grid;
	background-image: url('./images/drinks-bg.jpeg');
	background-position: center center;
	min-height: calc(100vh - 92px);
	min-width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
.drinks-intro {
	text-align: center;
	color: white;
	padding-top: 20px;
	line-height: 1.5;
	font-family: 'Fredericka the Great';
	font-size: 20px;
	max-width: 50%;
	margin: 0 auto;
}
.bottles {
	display: flex;
	justify-content: space-around;
	width: 90vw;
	max-width: 1200px;
	margin-top: 50px;
	position: relative;
	margin: 0 auto;
	height: 600px;
}

.bottle-div {
	transform-origin: bottom;
	cursor: pointer;
	text-align: center;
}

.drink-type {
	font-family: 'Fredericka the Great';
	color: white;
	width: 100px;
	margin: 0 auto;
	opacity: 0;
}

.bottle-div:hover .drink-type {
	opacity: 1;
	transform: translateY(-35px);
	transition: opacity 0.5s, transform 0.2s ease-out;
}

.Bottle {
	height: 350px;
	width: auto;
}

.bottle-div:nth-child(1) {
	transform: scale(0.92) translateX(290px) translateY(70px) rotate(-20.5deg);
}

.bottle-div:nth-child(2) {
	transform: translateX(200px) translateY(40px) rotate(-17.5deg);
}

.bottle-div:nth-child(3) {
	transform: translateX(60px) translateY(30px) rotate(-5deg);
}
.bottle-div:nth-child(4) {
	transform: translateX(-60px) translateY(30px) rotate(5deg);
}
.bottle-div:nth-child(5) {
	transform: translateX(-210px) translateY(40px) rotate(17.5deg);
}

.bottle-div:nth-child(6) {
	transform: translateX(-340px) translateY(70px) rotate(24.5deg);
}

.Bottle:hover {
	transform: scale(1.1);
	transition: transform 0.2s ease-out;
}
.drink-list a {
	text-decoration: none;
}
.drink-list {
	margin: 0px auto 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-evenly;
	max-width: 1600px;
}

.cocktail-list-name {
	font-family: 'Fredericka the Great';
	font-size: 20px;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 200px;
	height: 50px;
	margin: 10px;
	color: white;
	background: linear-gradient(to right, #060505, #4776e6);
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 1) 0 12px 30px;
	text-decoration: none;
}

@media screen and (max-width: 769px) {
	.drinks-intro {
		height: 150px;
		padding-top: 50px;
		line-height: 1.5;
		font-size: 16px;
		max-width: 50%;
	}

	.bottles {
		padding-top: 45px;
		height: 350px;
		max-width: 1200px;
		margin: 0 auto;
		border: red solid 1px !important;
		position: relative;
	}
	.Bottle {
		height: 250px;
	}

	.bottle-div:nth-child(1) {
		transform: translateX(21vw) translateY(11vh) rotate(-30deg);
	}

	.bottle-div:nth-child(2) {
		transform: translateX(31vw) translateY(4vh) rotate(-20deg);
	}

	.bottle-div:nth-child(3) {
		transform: translateX(37vw) translateY(0vh) rotate(-8deg);
	}
	.bottle-div:nth-child(4) {
		transform: translateX(47vw) translateY(0vh) rotate(8deg);
	}
	.bottle-div:nth-child(5) {
		transform: translateX(59vw) translateY(0.5vh) rotate(22.5deg);
	}

	.bottle-div:nth-child(6) {
		transform: translateX(65vw) translateY(2vh) rotate(30deg);
	}
	.drink-type {
		transition: none;
		opacity: 1;
		transform: translateY(-20px);
	}
	#vodka {
		padding-left: 30px;
	}
	#gin {
		margin-left: -10px;
	}
	#tequila {
		padding-left: 10px;
	}
	#bourbon {
		padding-left: 10px;
	}
	#rum {
		margin-left: -5px;
	}
	#scotch {
		padding-left: 20px;
	}
}
@media screen and (max-width: 436px) {
	.Drinks {
		background-image: url('https://www.desktopbackground.org/p/2010/06/13/32467_oppo-r7-wallpaper-jack-daniels-whiskey-mobile-android-wallpapers_1080x1920_h.jpg');
		background-position: center 30%;
	}
	.drinks-intro {
	}
	.bottles {
		height: 300px;
		margin-top: 00px;
	}
	.Bottle {
		height: 30vh;
		width: auto;
	}
	.bottle-div:nth-child(1) {
		transform: translateX(14vw) translateY(35vh);
	}

	.bottle-div:nth-child(2) {
		transform: translateX(43vw) translateY(35vh);
	}

	.bottle-div:nth-child(3) {
		transform: translateX(67vw) translateY(35vh);
	}
	.bottle-div:nth-child(4) {
		transform: translateX(41vw) translateY(-5vh);
	}
	.bottle-div:nth-child(5) {
		transform: translateX(31vw) translateY(15vh);
	}

	.bottle-div:nth-child(6) {
		transform: translateX(53vw) translateY(15vh);
	}
	.drink-type {
		font-size: 14px;
	}
	#vodka {
		margin-left: -70px;
		transform: translateY(40px);
	}
	#gin {
		margin-left: -20px;
		transform: translateY(240px);
	}
	#tequila {
		padding-left: 60px;
		transform: translateY(40px);
	}
	#bourbon {
		margin-left: -10px;
	}
	#rum {
		margin-left: -75px;
		transform: translateY(0px);
	}
	#scotch {
		margin-left: 55px;
		transform: translateY(0px);
	}

	.drinks-intro {
		padding-top: 15px;
		max-width: 75%;
		font-size: 13px;
	}

	.cocktail-list-name {
		font-size: 16px;
		width: 150px;
		height: 50px;
		padding: 5px;
		margin: 10px;
	}
}

/* @media screen and (min-width: 1700px) {
	.bottle-div:hover .drink-type {
		opacity: 1;
		transform: translateY(-100px);
	}
	#vodka {
		padding-left: 110px;
	}
	#gin {
		padding-left: 75px;
	}
	#tequila {
		padding-left: 75px;
	}
	#bourbon {
		padding-left: 90px;
	}
	#rum {
		padding-left: 70px;
	}
	#scotch {
		padding-left: 100px;
	}
	.drink-list {
		margin-top: 600px;
	}
} */
