.Header {
	background: rgb(9, 9, 9);
	display: flex;
	justify-content: space-between;
	height: 80px;
	width: 100%;
}

.cheers {
	filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(128deg)
		brightness(105%) contrast(105%);
	height: 65px;
	width: auto;
	padding-left: 20px;
	padding-top: 10px;
}

.header-title {
	color: white;
	font-size: 36px;
	font-family: 'Fredericka the Great';
	margin-left: 18%;
	margin-top: 1.5vh;
	padding-left: 5%;
	width: 40%;
}
.fas {
	color: white;
}

@media screen and (max-width: 1024px) {
	.header-title {
		font-size: 30px;
		margin-left: 23vw;
		padding-top: 9px;
	}
}

@media screen and (max-width: 768px) {
	.Header {
		height: 60px;
	}

	.header-title {
		font-size: 28px;
		margin-left: -0%;
		padding-top: 2px;
		width: 60%;
	}
	.cheers {
		height: 60px;
	}
}

@media screen and (max-width: 425px) {
	.header-title {
		font-size: 20px;
		width: 65%;
		margin-left: -15%;
		padding-top: 5px;
	}
}

@media screen and (min-width: 1700px) {
	.header-title {
		font-size: 42px;
		margin-left: 24%;
	}
}
