.Home {
	display: grid;
	background: black;
	background-image: url('https://images.pond5.com/cocktail-lime-black-background-footage-023977545_prevstill.jpeg');
	background-position: -60% 20vh;
	height: calc(100vh - 92px);
	min-width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 80% auto;
}
.home-intro {
	padding-top: 0px;
	font-family: 'Fredericka the Great';
	margin: 0 auto;
	text-align: center;
	margin-top: 0px;
	width: 65%;
	color: white;
	font-size: 26px;
	line-height: 1.6;
}

.home-img {
	width: 12vw;
	filter: invert(1);
	position: absolute;
	right: 3%;
	bottom: 5%;
}

@media screen and (max-width: 1100px) {
	.Home {
		background-position: -60% 30vh;
	}
}

@media screen and (max-width: 768px) {
	.Home {
		background-image: none;
		background: black;
	}

	.home-img {
		width: 16vw;
		right: 42%;
		bottom: 8%;
	}

	.home-intro {
		padding-top: 30px;

		width: 55%;
		font-size: 22px;
		line-height: 1.6;
		text-align: center;
	}
}

@media screen and (max-width: 425px) {
	.Home {
	}
	.home-intro {
		padding-top: 0px;
		margin-top: 10px;
		width: 65%;
		font-size: 18px;
		line-height: 1.6;
	}
}
@media screen and (min-width: 1700px) {
	.home-intro {
		width: 40%;
		padding-top: 60px;
	}
}
