footer {
	/* position: absolute; */
	/* bottom: 0; */
	width: 100%;
	min-height: 2rem;
	background: #000;
	display: flex;
	justify-content: center;
	align-content: middle;
	font-family: 'Fredericka the Great';
	flex-shrink: 0;
}

footer p {
	font-size: 1.3rem;
	text-align: center;
	color: white;
}
footer i {
	font-size: 30px;
	padding: 0 10px;
	color: white;
}
